/********************  Boaz formating start **********************/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu.active {
    right: 0;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}


/********************  Media start **********************/

@media screen and (max-width: 767px) {
    .hamburger {
        display: flex;
    }
    .menu.hidden {
        display: none;
    }
    .menu {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #333;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu li {
        margin: 10px;
    }
    .navbar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/********************  Media end **********************/


/********************  Boaz formating end **********************/